tuj/java/Bug14992_tAdvancedFileOutputXML_XSD/ref.xsd

<?xml version="1.0" encoding="ISO-8859-15"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="rootTag" nillable="true">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="newColumn" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="newColumn1" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
