tuj/manual/component/ESB_Runtime/testOracleRow/services/testOracleRow_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="testOracleRow"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="testOracleRowOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="testOracleRowOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="testOracleRowOperationRequest">
		<wsdl:part name="parameters" element="tns:testOracleRowOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="testOracleRowOperationResponse">
		<wsdl:part name="parameters" element="tns:testOracleRowOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="testOracleRowPortType">
		<wsdl:operation name="testOracleRowOperation">
			<wsdl:input message="tns:testOracleRowOperationRequest"></wsdl:input>
			<wsdl:output message="tns:testOracleRowOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="testOracleRowBinding" type="tns:testOracleRowPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="testOracleRowOperation">
			<soap:operation soapAction="http://www.talend.org/service/testOracleRowOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="testOracleRow">
		<wsdl:port name="testOracleRowPort" binding="tns:testOracleRowBinding">
			<soap:address location="http://localhost:8090/services/testOracleRow" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>