tuj/java/XML/Bug3796_DTD_Path/dtd/family.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT family (people+,mechine*)>
<!ELEMENT people EMPTY>
<!ELEMENT mechine EMPTY>
<!ATTLIST people
name CDATA #REQUIRED
sex (male|female) #REQUIRED
age CDATA #REQUIRED
taste CDATA #IMPLIED
>
<!ATTLIST mechine
name CDATA #REQUIRED
count CDATA #REQUIRED
detail CDATA #IMPLIED
>