tuj/java/XML/FeatureTDI34238_tXSDValidator_EnableFeatures/xsd/AIXM_AbstractGML_ObjectTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:aixm="http://www.aixm.aero/schema/5.0" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:gmd="http://www.isotc211.org/2005/gmd" targetNamespace="http://www.aixm.aero/schema/5.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.2">
	<annotation>
		<appinfo>
			<gml:gmlProfileSchema>http://www.aixm.aero/schema/5.0/profile/gml4aixm.xsd</gml:gmlProfileSchema>
		</appinfo>
	</annotation>
	<annotation>
		<appinfo source="www.aixm.aero/schema/5.0">AIXM_AbstractGML_ObjectTypesFeatures.xsd</appinfo>
	</annotation>
	<!--====================================================================-->
	<!--AIXM 5 Release Candidate 2-->
	<!--www.aixm.aero-->
	<!--Released:  July 2007-->
	<!--====================================================================-->
	<!--
		Copyright (c) 2007, EUROCONTROL & FAA
		=====================================
		All rights reserved.
		Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:
			* Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.
			* Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution.
			* Neither the names of EUROCONTROL or FAA nor the names of their contributors may be used to endorse or promote products derived from this specification without specific prior written permission.

		THIS SPECIFICATION IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR
CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
		==========================================
		Editorial note: this license is an instance of the BSD license template as
		provided by the Open Source Initiative:
		http://www.opensource.org/licenses/bsd-license.php
	-->
	<!--====================================================================-->
	<!--Schema Imports and Includes-->
	<!--====================================================================-->
	<!--==== IMPORT GML 3.2 ====-->
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="./ISO_19136_Schemas/gml.xsd"/>
	<!--==== IMPORT ISO19139 METADATA SCHEMA ====-->
	<import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="./ISO_19139_Schemas/gmd/metadataEntity.xsd"/>
	<!--====================================================================-->
	<!--Base AIXM Feature Constructs-->
	<!--====================================================================-->
	<complexType name="AbstractObjectType" abstract="true">
		<annotation>
			<documentation>Base type for AIXM complex types that are NOT features or
        geometries. For example, OIL, FUEL, and Metadata. Derives from
        AbstractGMLType so that it can participate within many GML constructs if
        and as required. Retains only the optional gml:id attribute.</documentation>
		</annotation>
		<complexContent>
			<restriction base="gml:AbstractGMLType">
				<sequence/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="AbstractAIXMFeatureBaseType" abstract="true">
		<annotation>
			<documentation>This type serves to align AIXM with the upcoming GML v3.2
        content model and patterns for features. As such, it removes any GML
        3.1.1 deprecated feature properties (gml:location), and makes gml:id
        mandatory. It also derives from gml:DynamicFeatureType, as most if not
        all AIXM features are expected to be have some temporal properties
        modeled using either a snapshot or timeslice model. In addition, while
        the GML specification does not mandate that dynamic features derive from
        gml:DynamicFeatureType, many GML-aware applications may only detect a
        dynamic feature by this type hierarchy. Note that all temporal
        properties of gml:DynamicFeatureType are removed during this
        restriction, so that it can serve as a base type for both dynamic and
        non-dynamic AIXM feature types. Dynamic or temporal properties are added
        within AbstractAIXMDynamicFeatureType, which derives from this base
        type. </documentation>
		</annotation>
		<complexContent>
			<restriction base="gml:DynamicFeatureType">
				<sequence>
					<element ref="gml:description" minOccurs="0"/>
					<element ref="gml:name" minOccurs="0" maxOccurs="unbounded"/>
					<element ref="gml:boundedBy" minOccurs="0"/>
				</sequence>
				<attribute ref="gml:id" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="AbstractAIXMFeatureType" abstract="true">
		<annotation>
			<documentation>Adds standard GML properties that will remain undeprecated
        in GML v3.2 (gml:name, gml:description), and any other common AIXM
        feature properties. Excludes temporal properties, lest there be some
        AIXM features that have none.</documentation>
		</annotation>
		<complexContent>
			<extension base="aixm:AbstractAIXMFeatureBaseType">
				<sequence>
					<group ref="aixm:StandardAIXMFeatureProperties"/>
					<element name="featureMetadata" type="aixm:FeatureMetadataPropertyType" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="AbstractAIXMFeature" type="aixm:AbstractAIXMFeatureType" abstract="true" substitutionGroup="gml:AbstractFeature">
		<annotation>
			<documentation>Substitution head for AIXM features.</documentation>
		</annotation>
	</element>
	<!--====================================================================-->
	<!--AIXM TimeSlice-->
	<!--====================================================================-->
	<complexType name="AbstractAIXMTimeSliceBaseType" abstract="true">
		<annotation>
			<documentation>Base type of AIXM Timeslices.  Removes option attributes that are not used in AIXM.</documentation>
		</annotation>
		<complexContent>
			<restriction base="gml:AbstractTimeSliceType">
				<sequence>
					<sequence/>
					<sequence>
						<annotation>
							<documentation>The efffectivity of the TimeSlice.</documentation>
						</annotation>
						<element ref="gml:validTime"/>
					</sequence>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="AbstractAIXMTimeSliceType" abstract="true">
		<annotation>
			<documentation>Adds in the AIXM specific properties, such as 'interpretation'.</documentation>
		</annotation>
		<complexContent>
			<extension base="aixm:AbstractAIXMTimeSliceBaseType">
				<sequence>
					<element ref="aixm:interpretation"/>
					<element ref="aixm:sequenceNumber" minOccurs="0"/>
					<element ref="aixm:correctionNumber" minOccurs="0"/>
					<element name="timeSliceMetadata" type="aixm:FeatureTimeSliceMetadataPropertyType" minOccurs="0"/>
					<element ref="aixm:featureLifetime" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!--====================================================================-->
	<!--Feature collections-->
	<!--====================================================================-->
	<complexType name="AbstractAIXMMessageBaseType" abstract="true">
		<complexContent>
			<extension base="aixm:AbstractAIXMFeatureBaseType">
				<sequence>
					<group ref="aixm:StandardAIXMFeatureProperties"/>
					<element ref="aixm:sequenceNumber" minOccurs="0"/>
					<element name="messageMetadata" type="aixm:MessageMetadataPropertyType" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="AbstractAIXMMessageType" abstract="true">
		<complexContent>
			<extension base="aixm:AbstractAIXMMessageBaseType">
				<attributeGroup ref="gml:AggregationAttributeGroup"/>
			</extension>
		</complexContent>
	</complexType>
	<!--====================================================================-->
	<!--Feature/Object Extensions-->
	<!--====================================================================-->
	<element name="AbstractExtension" type="aixm:AbstractExtensionType" abstract="true"/>
	<complexType name="AbstractExtensionType" abstract="true">
		<complexContent>
			<extension base="aixm:AbstractObjectType"/>
		</complexContent>
	</complexType>
	<!--====================================================================-->
	<!--Feature and TimeSlice Properties-->
	<!--====================================================================-->
	<element name="interpretation">
		<annotation>
			<documentation>Property indicating how the timeslice is to be interpreted.  See the AIXM Temporality model for details.</documentation>
		</annotation>
		<simpleType>
			<restriction base="string">
				<enumeration value="BASELINE"/>
				<enumeration value="SNAPSHOT"/>
				<enumeration value="TEMPDELTA"/>
				<enumeration value="PERMDELTA"/>
			</restriction>
		</simpleType>
	</element>
	<element name="sequenceNumber">
		<annotation>
			<documentation>Used as unique key for the identification of the Time Slice concerned. See the AIXM Temporality model for details.</documentation>
		</annotation>
		<simpleType>
			<restriction base="string"/>
		</simpleType>
	</element>
	<element name="correctionNumber" type="string">
		<annotation>
			<documentation>Used for encoding corrections of a previously issued Time Slice. See the AIXM Temporality model for details.</documentation>
		</annotation>
	</element>
	<element name="featureLifetime" type="gml:TimePrimitivePropertyType">
		<annotation>
			<documentation>The start and end of life of the feature. See the AIXM Temporality model for details.</documentation>
		</annotation>
	</element>
	<!--====================================================================-->
	<!--Property and Attribute Groups-->
	<!--====================================================================-->
	<group name="StandardAIXMFeatureProperties">
		<annotation>
			<documentation>Provided for convenience in the construction of this
        application schema, particularly when it is desired to define types
        derived by restriction. Derivation by restriction requires that all
        components that are used unchanged are copied down into the new type
        definition. As an alternative to including element declarations for all
        the standard object properties, a one line reference to
        aixm:StandardObjectProperties may be used instead. Only those standard
        GML feature properties that will NOT be deprecated in GML v3.2 are
        maintained. This therefore excludes
      gml:metaDataProperty.</documentation>
		</annotation>
		<sequence>
			<annotation>
				<documentation>The global unique identifier of the AIXM feature</documentation>
			</annotation>
			<element ref="gml:identifier" minOccurs="0"/>
			<!-- Placeholder for any other common AIXM feature properties -->
		</sequence>
	</group>
	<!--====================================================================-->
	<!--Base AIXM Metadata Property Types-->
	<!--====================================================================-->
	<complexType name="FeatureMetadataPropertyType">
		<complexContent>
			<extension base="gml:AbstractMetadataPropertyType">
				<sequence minOccurs="0">
					<element ref="gmd:MD_Metadata"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="FeatureTimeSliceMetadataPropertyType">
		<complexContent>
			<extension base="gml:AbstractMetadataPropertyType">
				<sequence minOccurs="0">
					<element ref="gmd:MD_Metadata"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="MessageMetadataPropertyType">
		<complexContent>
			<extension base="gml:AbstractMetadataPropertyType">
				<sequence minOccurs="0">
					<element ref="gmd:MD_Metadata"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
</schema>
