tuj/java/XML/FeatureTDI34238_tXSDValidator_EnableFeatures/xsd/SAA-DataTypes.xsd

<?xml version="1.0" encoding="windows-1252"?>
<!-- Generated from Rational Rose 2006.0.0.060314 -->
<!-- Script: AicmToXmlSchema.A.ebs -->
<!-- Date:      09-17-2009  11:16:19 -->
<!-- Model:     E:\AIXM\design\AIXM-5-0-200803061118.mdl -->
<!-- Component: Logical View::AIXM Application Schemas::AIM SAA::SAA Data Types -->
<!-- Version:  -->
<!-- XML-Schema level supported is specified by W3C -->
<!-- 	http://www.w3.org/2001/XMLSchema/ -->
<schema xmlns:aimsaa="urn:us:gov:dot:faa:aim:saa" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:xlink="http://www.w3.org/1999/xlink" targetNamespace="urn:us:gov:dot:faa:aim:saa" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<annotation>
		<appinfo>
			<gml:gmlProfileSchema>http://www.aixm.aero/schema/5.0/profile/gml4aixm.xsd</gml:gmlProfileSchema>
		</appinfo>
	</annotation>
	<annotation>
		<appinfo source="www.aixm.aero/schema/5.0">AIXM_DataTypes.xsd</appinfo>
	</annotation>
	<simpleType name="CodeSpecialActivityAirspaceType_base">
		<restriction base="xsd:string">
			<enumeration value="SUA">
				<annotation>
					<documentation/>
				</annotation>
			</enumeration>
			<enumeration value="ATCAA"/>
			<enumeration value="TFR"/>
			<enumeration value="ALTRV"/>
			<enumeration value="LAA"/>
			<enumeration value="SAA_COMPONENT">
				<annotation>
					<documentation/>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="CodeSpecialActivityAirspaceType">
		<union memberTypes="aimsaa:CodeSpecialActivityAirspaceType_base xsd:string"/>
	</simpleType>
	<simpleType name="CodeSpecialActivityAirspaceStatusType_base">
		<restriction base="xsd:string">
			<enumeration value="HOT"/>
			<enumeration value="COLD"/>
			<enumeration value="PARTIAL"/>
		</restriction>
	</simpleType>
	<simpleType name="CodeSpecialActivityAirspaceStatusType">
		<union memberTypes="aimsaa:CodeSpecialActivityAirspaceStatusType_base xsd:string"/>
	</simpleType>
	<simpleType name="CodeSeparationRuleType_base">
		<restriction base="xsd:string">
			<enumeration value="AIRCRAFT"/>
			<enumeration value="OTHER"/>
			<enumeration value="UNSPECIFIED"/>
		</restriction>
	</simpleType>
	<simpleType name="CodeSeparationRuleType">
		<union memberTypes="aimsaa:CodeSeparationRuleType_base xsd:string"/>
	</simpleType>
	<simpleType name="CodeAdminAreaType">
		<restriction base="xsd:string">
			<enumeration value="ALASKA"/>
			<enumeration value="ALABAMA"/>
			<enumeration value="ARKANSAS"/>
			<enumeration value="AMERICAN SAMOA"/>
			<enumeration value="ARIZONA"/>
			<enumeration value="CALIFORNIA"/>
			<enumeration value="COLORADO"/>
			<enumeration value="N MARIANA ISLANDS"/>
			<enumeration value="CONNECTICUT"/>
			<enumeration value="CANAL ZONE"/>
			<enumeration value="DIST. OF COLUMBIA"/>
			<enumeration value="DELAWARE"/>
			<enumeration value="FLORIDA"/>
			<enumeration value="GEORGIA"/>
			<enumeration value="GUAM"/>
			<enumeration value="HAWAII"/>
			<enumeration value="IOWA"/>
			<enumeration value="IDAHO"/>
			<enumeration value="ILLINOIS"/>
			<enumeration value="INDIANA"/>
			<enumeration value="KANSAS"/>
			<enumeration value="KENTUCKY"/>
			<enumeration value="LOUISIANA"/>
			<enumeration value="MASSACHUSETTS"/>
			<enumeration value="MARYLAND"/>
			<enumeration value="MAINE"/>
			<enumeration value="MICHIGAN"/>
			<enumeration value="MINNESOTA"/>
			<enumeration value="MISSOURI"/>
			<enumeration value="MISSISSIPPI"/>
			<enumeration value="MONTANA"/>
			<enumeration value="NORTH CAROLINA"/>
			<enumeration value="NORTH DAKOTA"/>
			<enumeration value="NEBRASKA"/>
			<enumeration value="NEW HAMPSHIRE"/>
			<enumeration value="NEW JERSEY"/>
			<enumeration value="NEW MEXICO"/>
			<enumeration value="NEVADA"/>
			<enumeration value="NEW YORK"/>
			<enumeration value="OFFSHORE ATLANTIC"/>
			<enumeration value="OFFSHORE CARIB"/>
			<enumeration value="OFFSHORE GULF"/>
			<enumeration value="OFFSHORE PACIFIC"/>
			<enumeration value="OHIO"/>
			<enumeration value="OKLAHOMA"/>
			<enumeration value="OREGON"/>
			<enumeration value="PENNSYLVANIA"/>
			<enumeration value="PUERTO RICO"/>
			<enumeration value="RHODE ISLAND"/>
			<enumeration value="SOUTH CAROLINA"/>
			<enumeration value="SOUTH DAKOTA"/>
			<enumeration value="TENNESSEE"/>
			<enumeration value="TEXAS"/>
			<enumeration value="UTAH"/>
			<enumeration value="VIRGINIA"/>
			<enumeration value="VIRGIN ISLANDS"/>
			<enumeration value="VERMONT"/>
			<enumeration value="WASHINGTON"/>
			<enumeration value="WISCONSIN"/>
			<enumeration value="WAKE ISLAND"/>
			<enumeration value="WEST VIRGINIA"/>
			<enumeration value="WYOMING"/>
			<enumeration value="MIDWAY ATOLL"/>
			<enumeration value="BRITISH WEST INDIES"/>
			<enumeration value="BAHAMA ISLANDS"/>
			<enumeration value="INTERNATIONAL"/>
		</restriction>
	</simpleType>
	<simpleType name="CodeLegalDefinitionType_base">
		<restriction base="xsd:string">
			<enumeration value="GENERATED"/>
			<enumeration value="HUMAN"/>
		</restriction>
	</simpleType>
	<simpleType name="CodeLegalDefinitionType">
		<union memberTypes="aimsaa:CodeLegalDefinitionType_base xsd:string"/>
	</simpleType>
	<simpleType name="CodeSpecialUseAirspaceType_base">
		<restriction base="xsd:string">
			<enumeration value="MOA">
				<annotation>
					<documentation/>
				</annotation>
			</enumeration>
			<enumeration value="NSA">
				<annotation>
					<documentation/>
				</annotation>
			</enumeration>
			<enumeration value="CFA">
				<annotation>
					<documentation/>
				</annotation>
			</enumeration>
			<enumeration value="PA">
				<annotation>
					<documentation/>
				</annotation>
			</enumeration>
			<enumeration value="RA">
				<annotation>
					<documentation/>
				</annotation>
			</enumeration>
			<enumeration value="WA">
				<annotation>
					<documentation/>
				</annotation>
			</enumeration>
			<enumeration value="AA">
				<annotation>
					<documentation/>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="CodeSpecialUseAirspaceType">
		<union memberTypes="aimsaa:CodeSpecialUseAirspaceType_base xsd:string"/>
	</simpleType>
</schema>
