tuj/java/XML/FeatureTDI34238_tXSDValidator_EnableFeatures/xsd/SAA-Message.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Generated automatically by Rational Rose 2006.0.0.060314 -->
<!-- Date:      09-10-2009  10:50:39 -->
<!-- Model:     E:\AIXM\design\AIXM-5-0-200803061118.mdl -->
<!-- Component: Logical View::AIXM Application Schemas::AIM SAA::SAA Messages -->
<!-- Version:  -->
<!-- XML-Schema level supported is specified by W3C -->
<!-- 	http://www.w3.org/2001/XMLSchema/ -->
<schema xmlns:aimsaa="urn:us:gov:dot:faa:aim:saa" xmlns:aimsua="urn:us:gov:dot:faa:aim:saa:sua" xmlns:aimatcaa="urn:us:gov:dot:faa:aim:saa:atcaa" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:aixm="http://www.aixm.aero/schema/5.0" targetNamespace="urn:us:gov:dot:faa:aim:saa" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="./ISO_19136_Schemas/gml.xsd"/>
	<import namespace="http://www.w3.org/1999/xlink" schemaLocation="./xlink/xlinks.xsd"/>
	<import namespace="http://www.aixm.aero/schema/5.0" schemaLocation="./AIXM_DataTypes.xsd"/>
	<import namespace="http://www.aixm.aero/schema/5.0" schemaLocation="./AIXM_Features.xsd"/>
	<import namespace="http://www.aixm.aero/schema/5.0" schemaLocation="./AIXM_AbstractGML_ObjectTypes.xsd"/>
	<import namespace="urn:us:gov:dot:faa:aim:saa:sua" schemaLocation="./SUA-Feature.xsd"/>
	<import namespace="urn:us:gov:dot:faa:aim:saa:atcaa" schemaLocation="./ATCAA-Feature.xsd"/>
	<include schemaLocation="./SAA-DataTypes.xsd"/>
	<include schemaLocation="./SAA-Feature.xsd"/>
	<annotation>
		<appinfo source="urn:eurocontrol:specification:aixm:schema:xsd:SAA-Message.xsd:">SAA-Message.xsd</appinfo>
	</annotation>
	<group name="SaaMessagePropertyGroup">
		<sequence>
			<element name="hasMember" type="aimsaa:SaaMessageComponentPropertyType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</group>
	<complexType name="SaaMessageType">
		<complexContent>
			<extension base="aixm:AbstractAIXMMessageType">
				<sequence>
					<group ref="aimsaa:SaaMessagePropertyGroup"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="SaaMessage" type="aimsaa:SaaMessageType" substitutionGroup="gml:AbstractFeature"/>
	<complexType name="SaaMessageComponentPropertyType">
		<complexContent>
			<extension base="gml:AbstractFeatureMemberType">
				<choice>
					<element ref="aixm:Airspace"/>
					<element ref="aixm:Unit"/>
					<element ref="aixm:AirspaceUsage"/>
					<element ref="aixm:RadioCommunicationChannel"/>
					<element ref="aixm:AirTrafficControlService"/>
					<element ref="aixm:InformationService"/>
					<element ref="aixm:OrganisationAuthority"/>
					<element ref="aixm:GeoBorder"/>
					<element ref="aixm:AirportHeliport"/>
					<element ref="aixm:Navaid"/>
					<element ref="aixm:DesignatedPoint"/>
					<element ref="aimsaa:SaaGroup"/>
				</choice>
				<attributeGroup ref="gml:AssociationAttributeGroup"/>
			</extension>
		</complexContent>
	</complexType>
	<group name="SaaScheduleMessagePropertyGroup">
		<sequence>
			<element name="hasMember" type="aimsaa:SaaScheduleMessageComponentPropertyType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</group>
	<complexType name="SaaScheduleMessageType">
		<complexContent>
			<extension base="aixm:AbstractAIXMMessageType">
				<sequence>
					<group ref="aimsaa:SaaScheduleMessagePropertyGroup"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="SaaScheduleMessage" type="aimsaa:SaaScheduleMessageType" substitutionGroup="gml:AbstractFeature"/>
	<complexType name="SaaScheduleMessageComponentPropertyType">
		<complexContent>
			<extension base="gml:AbstractFeatureMemberType">
				<choice>
					<element ref="aixm:AirspaceUsage"/>
				</choice>
				<attributeGroup ref="gml:AssociationAttributeGroup"/>
			</extension>
		</complexContent>
	</complexType>
</schema>
