tuj/java/XML/FeatureTDI34238_tXSDValidator_EnableFeatures/xsd/SUA-Feature.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Generated automatically by Rational Rose 2006.0.0.060314 -->
<!-- Date:      04-17-2009  15:00:04 -->
<!-- Model:     E:\AIXM\design\AIXM-5-0-200803061118.mdl -->
<!-- Component: Logical View::AIXM Application Schemas::AIM SAA::SUA Feature -->
<!-- Version:  -->
<!-- XML-Schema level supported is specified by W3C -->
<!-- 	http://www.w3.org/2001/XMLSchema/ -->
<schema xmlns:aimsua="urn:us:gov:dot:faa:aim:saa:sua" xmlns:aimsaa="urn:us:gov:dot:faa:aim:saa" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:aixm="http://www.aixm.aero/schema/5.0" xmlns:ns1="urn:us:gov:dot:faa:aim:saa:sua" targetNamespace="urn:us:gov:dot:faa:aim:saa:sua" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="./ISO_19136_Schemas/gml.xsd"/>
	<import namespace="http://www.aixm.aero/schema/5.0" schemaLocation="./AIXM_DataTypes.xsd"/>
	<import namespace="http://www.aixm.aero/schema/5.0" schemaLocation="./AIXM_Features.xsd"/>
	<import namespace="http://www.aixm.aero/schema/5.0" schemaLocation="./AIXM_AbstractGML_ObjectTypes.xsd"/>
	<import namespace="http://www.w3.org/1999/xlink" schemaLocation="./xlink/xlinks.xsd"/>
	<import namespace="urn:us:gov:dot:faa:aim:saa" schemaLocation="./SAA-Feature.xsd"/>
	<import namespace="urn:us:gov:dot:faa:aim:saa" schemaLocation="./SAA-DataTypes.xsd"/>
	<annotation>
		<appinfo>
			<gml:gmlProfileSchema>http://www.aixm.aero/schema/5.0/profile/gml4aixm.xsd</gml:gmlProfileSchema>
		</appinfo>
	</annotation>
	<annotation>
		<appinfo source="www.aixm.aero/schema/5.0">AIXM_Features.xsd</appinfo>
	</annotation>
	<element name="AirspaceExtension" type="aimsua:AirspaceExtensionType" substitutionGroup="aixm:AbstractAirspaceExtension"/>
	<complexType name="AirspaceExtensionType">
		<complexContent>
			<extension base="aixm:AbstractExtensionType">
				<sequence>
					<group ref="aimsua:AirspaceExtensionPropertyGroup"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<group name="AirspaceExtensionPropertyGroup">
		<sequence>
			<element name="suaType" nillable="true" minOccurs="0">
				<complexType>
					<simpleContent>
						<extension base="aimsaa:CodeSpecialUseAirspaceType">
							<attribute name="nilReason" type="gml:NilReasonEnumeration"/>
						</extension>
					</simpleContent>
				</complexType>
			</element>
			<element name="lightsOut" nillable="true" minOccurs="0">
				<complexType>
					<simpleContent>
						<extension base="aixm:CodeYesNoType">
							<attribute name="nilReason" type="gml:NilReasonEnumeration"/>
						</extension>
					</simpleContent>
				</complexType>
			</element>
			<element name="ICAO_NOTAM" nillable="true" minOccurs="0">
				<complexType>
					<simpleContent>
						<extension base="aixm:CodeYesNoType">
							<attribute name="nilReason" type="gml:NilReasonEnumeration"/>
						</extension>
					</simpleContent>
				</complexType>
			</element>
			<element name="separationRule" nillable="true" minOccurs="0">
				<complexType>
					<simpleContent>
						<extension base="aimsaa:CodeSeparationRuleType">
							<attribute name="nilReason" type="gml:NilReasonEnumeration"/>
						</extension>
					</simpleContent>
				</complexType>
			</element>
		</sequence>
	</group>
</schema>
